.footer-container {
  width: 100%;
  background-color: rgb(208, 208, 187);
  display: flex;
  justify-content: space-between;
  font-family: Georgia;
  padding: 5px 10px 0 10px;
  input {
    border: 1px solid rgb(118, 119, 43);
    height: 40px;
    width: 100%;
    &:focus {
      outline: 0;
      outline-offset: 0;
    }
  }

  p:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  /* selected link */
  p:active {
    color: rgb(98, 99, 37);
  }
  .about {
    width: 300px;
  }
  .flex-container {
    display: flex;

    img {
      width: 35px;
      height: 35px;
      margin: 10px;
      &:hover {
        transform: scale(1);
      }
    }
    // .about {
    //   h3 {
    //     text-align: center;
    //   }
    // }
  }
  .payment-container {
    margin: 10px 0 0 0;
  }
}
